.custom-shape-divider-top-1689262322 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1689262322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 97px;
}

.custom-shape-divider-top-1689262322 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1689262647 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689262647 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 93px;
}

.custom-shape-divider-bottom-1689262647 .shape-fill {
  fill: #FFFFFF;
}

.team {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  background-image: url(../Home/backgound/background.svg);
  background-size: cover;
  position: relative;
}
.team__list {
  width: 100%;
  height: 600px;
  border: 1px solid #000;
}
.team__container {
  width: 1240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #333;
  justify-content: center;
  border: 1px solid #000;
  gap: 80px;
}
.team__container h1 {
  color: #FFFFFF;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
}
.team__container h1 span {
  color: rgb(252, 42, 99);
}
.team__container h1 span:nth-child(2) {
  font-family: "KharkivTone";
  font-size: 28px;
  color: #FFFFFF;
}