@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
.header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.header__logo h1 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-weight: 700;
}
.header__logo h1 span {
  color: rgb(252, 42, 99);
}
.header__logo h1 span:nth-child(2) {
  font-family: "KharkivTone";
  font-size: 28px;
}
.header__container {
  width: 1240px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__call {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(252, 42, 99);
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}