@import '../../scss/Mixins.scss';

.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    &__container{
        @include container();
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }
}